<div class="auth">
  <div class="home-container">
    <mat-toolbar color="primary">
      <div class="sidebar-header">
      <div class="brand">
          <div class="logo">
              <span class="l l1"></span>
              <span class="l l2"></span>
              <span class="l l3"></span>
              <span class="l l4"></span>
              <span class="l l5"></span>
          </div>
          Accounting
      </div>
      </div>
      <div>
      <ul>
        <li>
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li>
            <a mat-button routerLink="/system" routerLinkActive="mat-accent">System</a>
        </li>
        <li>
            <a mat-button routerLink="/system/calendar" routerLinkActive="mat-accent">Calendar</a>
        </li>
        <li>
            <a mat-button routerLink="/system/budget" routerLinkActive="mat-accent">Budget</a>
        </li>
      </ul>
      </div>
  </mat-toolbar>
  </div>
</div>
