<div class="title-block">
  <h3 class="title">
    Page records <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section">
    <div class="row">
        <div class="col-md-6" *ngIf="(dataFromStore$ | async).catLength">
            <app-add-event
            [categories]="(dataFromStore$ | async).categories"
            [bill]="(dataFromStore$ | async).bill" 
            (hasProblem)="onProblem($event)"
            (onUpdateBill)="billWasUpdeted($event)"
            (onAddEvent)="newEventAdded($event)"></app-add-event>
        </div>
        <div class="col-md-6">
            <app-add-category
                (onCategoryAdd)="newCategoryAdded($event)"></app-add-category>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" *ngIf="(dataFromStore$ | async).catLength">
            <app-edit-category 
                [categories]="(dataFromStore$ | async).categories" 
                (onCategoryEdit)="categoryWasEdited($event)"
                (onCategoryDelete)="categoryWasDeleted($event)"></app-edit-category>
        </div>
    </div>
</section>