<aside class="sidebar">
  <div class="sidebar-container">
      <div class="sidebar-header">
          <div class="brand">
              <div class="logo">
                  <span class="l l1"></span>
                  <span class="l l2"></span>
                  <span class="l l3"></span>
                  <span class="l l4"></span>
                  <span class="l l5"></span>
              </div>
              Accounting
          </div>
      </div>
      <nav class="menu">
          <ul class="nav metismenu">
              <li routerLinkActive="active">
                  <a [routerLink]="['/system','bill']"> <i class="fa fa-building-o"></i>Bill</a>
              </li>
              <li routerLinkActive="active">
                  <a [routerLink]="['/system','history']"> <i class="fa fa-flash"></i>History</a>
              </li>
              <li routerLinkActive="active">
                  <a [routerLink]="['/system','planning']"> <i class="fa fa-archive"></i>Planning</a>
              </li>
              <li routerLinkActive="active">
                  <a [routerLink]="['/system','records']"> <i class="fa fa-plus-square"></i>Records</a>
              </li>
          </ul>
      </nav>
  </div>
</aside>