<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Add event</h3>
        </div>
    </div>
    <div class="card-block">
        <div
          class="alert alert-{{message.type}}"
          *ngIf="message.text">
          {{message.text}}
        </div>
        <form #evForm="ngForm" (ngSubmit)="onSubmit(evForm)">
            <div class="form-group ">
                <label class="control-label" for="category">Select a category</label>
                <select 
                    class="form-control" 
                    id="ev-category"
                    [ngModel]="0"
                    required
                    name="category">
                    <option 
                        *ngFor="let category of categories"
                        [value]="category.id">
                            {{category.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Select type</label>
                <div *ngFor="let type of types">
                    <label>
                        <input 
                            class="radio" 
                            name="type" 
                            type="radio"
                            [value]="type.type"
                            required
                            [ngModel]="'outcome'"
                            ngModel>
                        <span>{{type.label}}</span>
                    </label>
                </div>
            </div>
            <div
                [ngClass]="{'has-error':amount.invalid && amount.touched}"
                class="form-group ">
                <label class="control-label" for="amount">Enter amount</label>
                <input 
                    type="number" 
                    value="0" 
                    id="amount" 
                    class="form-control"
                    name="amount"
                    [ngModel]=1
                    min=1
                    #amount="ngModel">
                <span
                    *ngIf="amount.invalid && amount.touched"
                    class="form-help-text">
                    Amount is required</span>
            </div>
            <div
                [ngClass]="{'has-error':description.invalid && description.touched}"
                class="form-group ">
                <label class="control-label" for="description">Enter description</label>
                <input 
                    type="text" 
                    id="description" 
                    class="form-control"
                    name="description"
                    ngModel
                    #description="ngModel"
                    required>
                <span
                    *ngIf="description.invalid && description.touched"
                    class="form-help-text">
                    Description is required</span>
            </div>
            <button 
                [disabled]="evForm.invalid"
                type="submit" 
                class="btn btn-primary">
                Add</button>
        </form>
    </div>
</div>