<div class="top-menu">
  <nav class="menu">
    <ul class="nav metismenu">
        <li routerLinkActive="active">
            <a [routerLink]="['/system/budget','bill']"> <i class="fa fa-building-o"></i>Bill</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/system/budget','history']"> <i class="fa fa-flash"></i>History</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/system','planning']"> <i class="fa fa-archive"></i>Planning</a>
        </li>
    </ul>
  </nav>
</div>